<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
  <h1>Student List</h1>
<!--  등록된 학생이 없을 때  -->
  <div th:if="${studentList.isEmpty()}">
    <p>No Student Here...</p>
  </div>
<!--  등록된 학생이 있을 때  -->
  <div th:unless="${studentList.isEmpty()}"
       th:each="student: ${studentList}">
    <p>번호: [[${student.id}]]</p>
    <p>이름: <a th:href="@{/{id} (id=${student.id})}">[[${student.name}]]</a></p>
<!--    href 앞에 th:를 붙여줌으로써 Controller에서 넘겨받은 model을 사용한다고 선언  -->
<!--    /{id}: 동적인 변수로 사용한다고 선언,
(id=${student.id})}: id에 넘겨받은 리스트의 해당학생 id를 변수에 넣어준다 -->
    <p>이메일: [[${student.email}]]</p>
  </div>
  <a href="/create-view">Create</a>
</body>
</html>